.containerx{
  position: relative;
  max-width: 110%;
  min-width: 286px;
  width: 1288px;
  margin-left: 78px;
  margin-top: 20px;
  padding: 0px;
  background-color: #EC911A;
  padding: 0%;
  
  margin-right: 0px;
  border-radius: 10px;

}

/* .containerxsx{
  position: relative;
  max-width: 110%;
  
  width: 1288px;
  margin-top: 20px;
  padding: 0px;
  background-color: #EC911A;
  padding: 0%;
  margin-left: 78px;

  border-radius: 10px;

}
.containerxx{
  position: relative;
  max-width: 110%;
  width: 1288px;
  margin-top: 20px;
  padding: 0px;
  background-color: #EC911A;
  padding: 0%;
  margin-left: 78px;
  margin-right: 0px;
  border-radius: 10px;

} */

/* .navbarx{
  
 

 } */


.menu-itemsx{
margin-top: 10px ;

padding-left: 0px;
  order: 2;
display: flex;
flex-flow: row nowrap;
  width: 1400px;
}


/* .menu-itemsx li{
  list-style: none;
  margin-left: 1px;
  font-size: 1.3rem;
  padding-left: 0px;

  
} */

.navbarlink{
  color: black;
  min-width: 185px;
  max-width: 185px;
  padding-left: 10px;
  height: 70px;
  padding-top: 15px;
  text-align: center;
  border-right: solid;
  border-width: 3px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  border-right-color: rgb(238, 238, 238);
  text-decoration: none;
  font-weight: 400;
  padding-right: 16px;
  transition: color 0.3s ease-in-out;
}
.navbarlinksocial{
  color: black;
  min-width: 185px;
  max-width: 185px;
  padding-left: 10px;
  height: 70px;
  padding-top: 15px;
  text-align: center;
  border-right: solid;
  border-width: 3px;
  font-size: 14.9px;
  font-family: "Poppins", sans-serif;
  border-right-color: rgb(238, 238, 238);
  text-decoration: none;
  font-weight: 400;
  padding-right: 16px;
  transition: color 0.3s ease-in-out;
}
.navbarlink.active{
  border-width: 3px;
  border-left: solid;
  border-left-color: black;
background-color: #B92200;
padding-left: 5px;
transform: scale(1.02,1.02);
}
.navbarlinksocial.active{
  border-width: 3px;
  border-left: solid;
  border-left-color: black;
background-color: #B92200;
padding-left: 5px;
transform: scale(1.02,1.02);
}
.navbarlinksocial:hover{
  background-color: #B92200;
  color: white;
  border-radius: 0px 10px 10px 0px;
  transform: scale(1.03,1.03);
}
.navbarlink:hover{
  background-color: #B92200;
  color: white;
  border-radius: 0px 10px 10px 0px;
  transform: scale(1.03,1.03);
}
/* @media only screen and (max-width: 767px){ */
  /* .containerx{
    position: relative;
    max-width: 40%;
    width: 300px;
    margin-top: 15px;
    padding: 0px;
    background-color: #EC911A;
    padding: 0%;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 10px;
  
  }
  .menu-itemsx{
    margin-top: 0px ;
    
    padding-left: 0px;
      order: 2;
      display: flex;
      width: 500px;
    }
    
    
    .menu-itemsx li{
      list-style: none;
      margin-left: 1px;
      font-size: 1.3rem;
      padding-left: 0px;
    
      
    } */

    @media screen and (min-width:300px) and (max-width: 500px){
      .p-textax{
        font-size: 6px;
        width: 250px;  }
    
    /* .navbarx{
      display: block;
     width:300px;
     margin-right: 200px;

    } */
    .navbarx{
      display: block;
      width:300px;
      margin-right: 20px;
 
     }

    /* .navbar-containerxsx{
      width: 300px;
      display: block;
      margin-left: 30px;
      height: 50px;
      justify-content: center;
      margin-top: 3px;
    } */
    .containerx{
      width: 305px;
      display: block;
      margin-left: 35px;
      height: 55px;
      justify-content: center;
      margin-top: 3px;
    }
    /* .navbar-containerxx{
      width: 270px;
      display: block;
      margin-left: 30px;
      height: 50px;
      justify-content: center;
      margin-top: 3px;
    } */
    .menu-itemsx{
      /* justify-content: ; */
      width: 300px;
     margin-left: 0%;
      order: 2;
      margin-top: 0px;
      height: 55px;
      
    }
    .menu-itemsx li{
      justify-content: center;
    
      list-style: none;
      margin-left: 0.2px;
     
    
      
    }
    .navbarlink{
      float: top;
      min-width: 22px;
    
      /* margin-left: 10px; */
     font-size: 5px;
      width:22px;
      height: 40px;
      font-weight: 800;
    }
    .navbarlinksocial{
      float: top;
      min-width: 22px;
    
      /* margin-left: 10px; */
     font-size: 5px;
      width:22px;
      height: 40px;
      font-weight: 800;
    }
    .iconDiv{
      display: none;
    }
    
  }

  @media screen and (min-width:500px) and (max-width: 767px){
    .p-textax{
      font-size: 6px;
      width: 250px;  }
  
  /* .navbarx{
    display: block;
   width:300px;
   margin-right: 200px;

  } */
  .navbarx{
    display: block;
    width:405px;
    margin-right: 20px;

   }

  .containerx{
    width: 423px;
    display: block;
    margin-left: 130px;
    height: 55px;
    justify-content: center;
    margin-top: 3px;
  }
  .menu-itemsx{
    width: 405px;
   margin-left: 0%;
    order: 2;
    margin-top: 0px;
    height: 55px;
    
  }
  .menu-itemsx li{
    justify-content: center;
  
    list-style: none;
    margin-left: 0.2px;
   
  
    
  }
  .navbarlink{
    float: top;
    min-width: 42px;
   font-size: 5px;
    width:40px;
    height: 40px;
    font-weight: 900;
  }
  .navbarlinksocial{
    float: top;
    min-width: 42px;
   font-size: 5px;
    width:40px;
    height: 40px;
    font-weight: 900;
  }
  .iconDiv{
    display: none;
  }
  
}

@media screen and (min-width:768px) and (max-width: 900px){
  .p-textax{
    font-size: 6px;
    width: 250px;  }

/* .navbarx{
  display: block;
 width:300px;
 margin-right: 200px;

} */
.navbarx{
  display: block;
  width:490px;
  margin-right: 20px;

 }

.containerx{
  width: 510px;
  display: block;
  margin-left: 130px;
  height: 55px;
  justify-content: center;
  margin-top: 3px;
}
.menu-itemsx{
  width: 490px;
 margin-left: 0%;
  order: 2;
  margin-top: 0px;
  height: 55px;
  
}
.menu-itemsx li{
  justify-content: center;

  list-style: none;
  margin-left: 0.2px;
 

  
}
.navbarlink{
  float: top;
  min-width: 42px;
 font-size: 7px;
  width:56px;
  height: 40px;
  font-weight: 900;
}
.navbarlinksocial{
  float: top;
  min-width: 42px;
 font-size: 7px;
  width:56px;
  height: 40px;
  font-weight: 900;
}
.iconDiv{
  display: none;
}

}

@media screen and (min-width:900px) and (max-width: 1310px){
  .p-textax{
    font-size: 6px;
    width: 250px;  }

/* .navbarx{
  display: block;
 width:300px;
 margin-right: 200px;

} */
.navbarx{
  display: block;
  width:490px;
  margin-right: 20px;

 }

.containerx{
  width: 510px;
  display: block;
  margin-left: 130px;
  height: 55px;
  justify-content: center;
  margin-top: 3px;
}
.menu-itemsx{
  width: 490px;
 margin-left: 0%;
  order: 2;
  margin-top: 0px;
  height: 55px;
  
}
.menu-itemsx li{
  justify-content: center;

  list-style: none;
  margin-left: 0.2px;
 

  
}
.navbarlink{
  float: top;
  min-width: 42px;
 font-size: 7px;
  width:56px;
  height: 40px;
  font-weight: 900;
}
.navbarlinksocial{
  float: top;
  min-width: 42px;
 font-size: 7px;
  width:56px;
  height: 40px;
  font-weight: 900;
}
.iconDiv{
  display: none;
}

}





